<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1944},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>ball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1886},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>ball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1886},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>ball_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1847},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>bg_cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>btnRank.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,820},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>btnRank_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1847},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>btnRate.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,713},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>btnRate_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1847},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>btnStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,395},{226,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,131}}</string>
                <key>sourceSize</key>
                <string>{226,131}</string>
            </dict>
            <key>btnStart_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1730},{226,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,131}}</string>
                <key>sourceSize</key>
                <string>{226,131}</string>
            </dict>
            <key>btn_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1730},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>btn_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1847},{104,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,57}}</string>
                <key>sourceSize</key>
                <string>{104,57}</string>
            </dict>
            <key>btn_nr_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1863},{104,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,57}}</string>
                <key>sourceSize</key>
                <string>{104,57}</string>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,514},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>btn_reload.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,980},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,980},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>btn_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,824},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>btn_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,713},{104,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,57}}</string>
                <key>sourceSize</key>
                <string>{104,57}</string>
            </dict>
            <key>input_nr.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,2},{266,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,65}}</string>
                <key>sourceSize</key>
                <string>{266,65}</string>
            </dict>
            <key>label_best.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2011},{111,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,34}}</string>
                <key>sourceSize</key>
                <string>{111,34}</string>
            </dict>
            <key>label_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1953},{47,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,33}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>label_last.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,927},{100,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,33}}</string>
                <key>sourceSize</key>
                <string>{100,33}</string>
            </dict>
            <key>label_nr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2011},{275,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,34}}</string>
                <key>sourceSize</key>
                <string>{275,34}</string>
            </dict>
            <key>label_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,395},{553,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,71}}</string>
                <key>sourceSize</key>
                <string>{553,71}</string>
            </dict>
            <key>label_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,372},{140,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,49}}</string>
                <key>sourceSize</key>
                <string>{140,49}</string>
            </dict>
            <key>label_top_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1980},{140,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,49}}</string>
                <key>sourceSize</key>
                <string>{140,49}</string>
            </dict>
            <key>layer_nr.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{391,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,279}}</string>
                <key>sourceSize</key>
                <string>{391,279}</string>
            </dict>
            <key>layer_nr_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1730},{391,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,279}}</string>
                <key>sourceSize</key>
                <string>{391,279}</string>
            </dict>
            <key>pad_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,395},{199,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,115}}</string>
                <key>sourceSize</key>
                <string>{199,115}</string>
            </dict>
            <key>pad_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,623},{199,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,115}}</string>
                <key>sourceSize</key>
                <string>{199,115}</string>
            </dict>
            <key>pad_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1730},{199,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,115}}</string>
                <key>sourceSize</key>
                <string>{199,115}</string>
            </dict>
            <key>pad_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1863},{199,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,115}}</string>
                <key>sourceSize</key>
                <string>{199,115}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,596},{120,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,115}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>star_s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1988},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>star_s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1980},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>star_s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,270},{100,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1140},{464,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,588}}</string>
                <key>sourceSize</key>
                <string>{464,588}</string>
            </dict>
            <key>top_bg_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{464,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,588}}</string>
                <key>sourceSize</key>
                <string>{464,588}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cm.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ec22035e008c556ba4dc609dc7d4e33:1/1$</string>
            <key>textureFileName</key>
            <string>cm.png</string>
        </dict>
    </dict>
</plist>
